/**
 * Code by Parker Moore.
 * Design by Becky Dugal.
 * Written for Pendleton Apparel Club of Cornell University.
 * Copyright 2012.
 * This code is written in SCSS, and compiled by Compass (using the Sass CLI) into valid CSS.
 */
body {
  color: white;
  background-color: black;
  font-family: "Thonburi", Arial, Helvetica, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: underline;
}
a:visited {
  color: white;
}

h1 {
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
}

h4 {
  text-transform: uppercase;
}

h5 {
  text-transform: uppercase;
}

h6 {
  text-transform: uppercase;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: black url('../img/homepage.jpg?1329158843');
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
}

#logo {
  margin: 20px 0px 0px 30px;
}

#enter_link {
  display: block;
  position: absolute;
  right: 50px;
  bottom: 50px;
  text-transform: uppercase;
  font-family: Helvetica;
  font-size: 2.5em;
}
