/**
 * Code by Parker Moore.
 * Design by Becky Dugal.
 * Written for Pendleton Apparel Club of Cornell University.
 * Copyright 2012.
 * This code is written in SCSS, and compiled by Compass (using the Sass CLI) into valid CSS.
 */
body {
  color: white;
  background-color: black;
  font-family: "Thonburi", Arial, Helvetica, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: underline;
}
a:visited {
  color: white;
}

nav {
  text-align: center;
}
nav a {
  font-size: 2em;
  text-transform: uppercase;
}
nav a#home_a, nav a#press_a, nav a#contact_a {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 140px;
}
nav a#collections_a, nav a#evolution_a {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
}
nav a#home_a {
  margin-left: 0px;
}
nav a#contact_a {
  margin-right: 0px;
}

#footer {
  margin-top: 10px;
  border-top: 2px white solid;
  padding-top: 3px;
}

.images_group {
  margin-bottom: 1em;
  display: block;
}

.error {
  color: red;
}

.cake-error {
  display: block;
  font-family: "Courier New", Courier, monospace;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
}
