/**
 * Code by Parker Moore.
 * Design by Becky Dugal.
 * Written for Pendleton Apparel Club of Cornell University.
 * Copyright 2012.
 * This code is written in SCSS, and compiled by Compass (using the Sass CLI) into valid CSS.
 */
body {
  color: white;
  background-color: black;
  font-family: "Thonburi", Arial, Helvetica, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: underline;
}
a:visited {
  color: white;
}

h1 {
  display: block;
}

h2 {
  display: block;
}

h3 {
  display: block;
}

h4 {
  display: block;
}

h5 {
  display: block;
}

h6 {
  display: block;
}

nav {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  text-align: center;
  border-bottom: white solid 2px;
  margin: 0px 0px 20px 0px;
}
nav a {
  font-size: 2em;
  text-transform: uppercase;
}
nav a.current {
  color: white;
  text-decoration: underline;
}
nav a#home_a, nav a#press_a, nav a#contact_a {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 140px;
}
nav a#evolution_a {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
}
nav a#home_a {
  margin-left: 0px;
}
nav a#contact_a {
  margin-right: 0px;
}
nav #collections_a {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
  border-top: solid 1px transparent;
  border-left: solid 1px transparent;
  border-right: solid 1px transparent;
  width: 218px;
}
nav #collections_a > ul {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
  width: 218px;
  list-style-type: disc;
  text-align: left;
  background-color: black;
  margin: 0px 0px 0px -1px;
  position: absolute;
  left: -9999px;
  display: block;
  padding-bottom: 10px;
  border-bottom: solid 1px white;
  border-left: solid 1px white;
  border-right: solid 1px white;
}
nav #collections_a > ul li {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
  font-size: 0.7em;
  padding: 0px;
  margin: 0px 0px 0px 50px;
  float: none;
}
nav #collections_a > ul li a {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
  margin: 0px 0px 0px 27px;
}
nav #collections_a:hover {
  border-top: solid 1px white;
  border-left: solid 1px white;
  border-right: solid 1px white;
}
nav #collections_a:hover > ul {
  position: absolute;
  left: auto;
}

#footer {
  margin-top: 10px;
  border-top: 2px white solid;
  padding-top: 3px;
}

.images_group {
  margin-bottom: 1em;
  display: block;
}

.error {
  color: red;
}

.cake-error {
  display: block;
  font-family: "Courier New", Courier, monospace;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
}
