@import "960/grid";
body {
	color: $textColor;
	background-color: $backgroundColor;
	font-family: $bodyTypefaceStack;
}

a {
	color: $linkColor;
	text-decoration: $linkDecoration;
	&:hover {
		color: $linkHoverColor;
		text-decoration: $linkHoverDecoration;
	}
	&:visited {
		color: $linkVisitedColor;
	}
}