// Variables for Pendleton Scholarship Collective website.

$textColor: #ffffff;
$backgroundColor: #000000;

$bodyTypeface: Helvetica;

$linkColor: #fff;
$linkHoverColor: #fff;
$linkVisitedColor: #fff;
$linkDecoration: none;
$linkHoverDecoration: underline;

